blib
cover_db
Makefile
META.yml
MYMETA.yml
MYMETA.json
pm_to_blib
*.tar.gz
*.tgz
*.old
*.o
*.c
*.bs
*.gcov
*.gcda
*.gcno
.perlcriticrc
xx*
valgrind.log
pod2htm*
nytprof*
tmp/*
sandbox/cover_db*
sandbox/dist-other
sandbox/test.*
used-by-t/*
